@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
/*----- VARIABLES CSS-----*/

:root {
  --first-color: #20a7e6;
  --black-color: rgb(43, 40, 40);
  --white-color: #FFF;
}


:root {
  --body-font: 'Poppins', sans-serif;
  --h1-font-size: 2.5rem;
  --h2-font-size: 1rem;
  --normal-font-size: 0.93rem;
  --small-font-size: 0.81rem;
}

@media screen and (min-width: 768px) {
  :root {
    --h1-font-size: 4.5rem;
    --h2-font-size: 2rem;
    --normal-font-size: 1rem;
    --small-font-size: 1.37rem;
  }
}

/*z index*/
:root {
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

/*----- BASE -----*/
*, ::before, ::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 3rem 0 0 0;
  font-family: var(--body-font);
  background-color: var(--black-color);
  color: var(--white-color);
  font-weight: 700;
  /* overflow: hidden; */
}

h1, h2 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*----- LAYOUT -----*/
.bd-grid {
  max-width: 1200px;
  margin-left: 1rem;
  margin-right: 1rem;
}

.l-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--black-color);
}

/*----- PAGES -----*/
/*Nav*/
.nav {
  height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
}



  
@media screen and (max-width: 768px) {
  .nav__menu {
    position: fixed;
    top: -100%;
    left: 0;
    background-image: -webkit-gradient(linear, left top, left bottom, from(var(--black-color)), to(var(--first-color)));
    background-image: linear-gradient(var(--black-color), var(--first-color));
    width: 100%;
    height: 35%;
    padding: 1.5rem;
    border-radius: 0 0 1rem 1rem;
    -webkit-transition: .5s;
    transition: .5s;

  }
 
}

.nav__list {
  text-align: center;
}

.nav__item {
  margin-bottom: 2rem;
}

.nav__link {
  color: var(--text-color);
}

.nav__link:hover {
  position: relative;
  color: var(--first-color);
}

.nav__link:hover::after {
  position: absolute;
  content: '';
  width: 1.5rem;
  height: 0.1875rem;
  left: 0.125rem;
  top: 2.125rem;
  background-color: var(--first-color);
}
.nav__link:hover .name{
  opacity: 1;
  color: var(--first-color);
}
.logo__img{
  width: 80px;
  height: 64px;
}
/* .nav__logo {
  font-size: var(--normal-font-size);
  color: var(--white-color);
} */
/* .nav__logo:hover{
color: black;
} */

.nav__toggle {
  font-size: 1.5rem;
  cursor: pointer;
}
.nav__toggle:hover{
  color: black;
}

/*Aparecer menu*/
.show {
  top: 3rem;
}

section{
  color: #20a7e6;
text-align: center;
  margin-top: 500px;
  font-size: 30px;

}
.bxs-heart{

  animation: heart 1s infinite ease;
}
@keyframes heart {
  0%{
    opacity: 0;
  }
  50%{
    opacity: 0.5;
  }
  100%{
    opacity: 1;
  }
}
/*----- MEDIA QUERIES -----*/
@media screen and (min-width: 768px) {
    body {
      margin: 0;

    }

    .nav {
      height: 4rem;
    }
    .nav__list {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      padding-top: 0;
    }
    .nav__item {
      margin-left: 3rem;
      margin-bottom: 0;
    }
    .nav__toggle, .nav__close {
      display: none;
    }
    .nav__link {
      text-transform: initial;
    }
section{
  margin-top:100px;
  }

   
}

    @media screen and (min-width: 1200px) {
        .bd-grid {
          margin-left: auto;
          margin-right: auto;
        }
    

        
      }
      
      /*ANIMATE*/
      .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: var(--z-modal);
      }
      
      .first {
        background-color: var(--first-color);
      }
      
      .second {
        background-color: var(--first-color);
        left: 33.3%;
      }
      
      .third {
        background-color:var(--first-color);
        left: 66.6%;
      }
